.About-container{
    background-color: $regularWhite;
    width: 100vw;
    min-height: 50vh;
   

    .About-parent {   
        max-width: 1048px;
        margin: 0 auto;
        padding: 5vh 0 10vh 0;
        background: $regularWhite;
        z-index: 20;
        position: relative;
       

        .About-sub-parent {
            padding: 150px 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            z-index: 100 !important;
            position: relative;
            flex-direction: column;

            @include mobile {
                padding: 0;
            }

            @include desktop {
                flex-direction: row;
            }
        
        }

        .Typed-about-header {
            text-align: center;
            font-size: 3.2em;
            z-index: 30;
            margin-bottom: 100px;
            @extend .alike;
            font-weight: normal;
            color: $nearlyBlack;

            @include mobile {
                font-size: 3rem;
            }
        }

        .Parallax-parent-upper {
            z-index: 50;
            position: relative;
        }


        .Parallax-parent-lower {
            z-index: -100;
            position: relative;
        }

        .Upper {
            color: $regularWhite;
        }

        .Lower {
            color: $darkBlack;
        }
        
        .Animation-container {
            opacity: 0;

        &.Headshot-animation {
            filter: saturate(100%) contrast(110%);
            // animation: unsaturate 3s ease-in-out 0s 1 none;
            opacity: 1;
            transition: 0.8s all;

            // &:hover {
            //     filter: saturate(100%) contrast(110%); 
            //     transition: 0.2s all; 
            // }
        }

            .Headshot {
                height: 320px;
                width: 320px;
                background: url('../assets/images/headshot/headshot.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: 0.4s;
                margin: 35px 0;
                padding-top: 20px;

                @include mobile {
                    height: 300px;
                    width:  300px;
                }
            }    
        }

        .Animation-container {
           
            
        &.About-blurb-width {
            width: 30%;

            @include mobile {
                width: 70%;
            }

            @include tablet {
               width: 50%;
            }

            @include tabtop {
                width: 50%;
            }
        }

        &.About-blurb-animation {
            animation: slide-in-left 0.9s ease-in-out 0s 1 forwards;
            transition: 1.1s all;
            opacity: 1;
        }

            .About-blurb {
                line-height: 33px;
                margin: 0 auto;
                color: $nearlyBlack;
                width: 100%;

                &::first-letter {
                    font-size: 5em;
                    @extend .alike;
                }

                @include mobile {
                    margin: 60px auto 0 auto;
                }

                @include tablet {
                    margin: 100px auto 0 auto;
                }

                @include tabtop {
                    width: 60%;
                    margin: 100px auto 0 auto;
                }
            }
        }

        .Button-parent {
            display: flex;
            align-items: center;
            flex-direction: column;

            .Animation-container {

            &.Button-animation {
                animation: slide-up 0.9s ease-in-out 0s 1 forwards;
                transition: 0.8s all;
                opacity: 1;
            }

                .Button {
                    width: 100px;
                    margin: 10px;
                }

            }
        }

        p {
            width: 30%;
            z-index: 10;
        }
    }
}