@font-face {
    font-family: "Alike", serif;
    src: url("../assets/fonts/Alike-Regular/Alike-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  
.alike {
font-family: "Alike", serif;
}