.Footer-parent {
    background-color: black;
    color: white;
    height: 80px;
    padding: 5px 0;
    width: 100vw;
    position: relative;
    z-index: 1000;

    @include mobile {
        padding: 20px 0;
    }

    .Footer-container {
        display: flex;
        align-content: stretch;
        flex-direction: row;
        height: 100%;
        align-items: flex-end;

        @include mobile {
            height: 100px;
        }
        

        .Footer-links {
            word-spacing: 4px;
            margin-right: auto;
            transform: translate(10%, -100%);

            @include mobile {
                display: flex;
                flex-direction: column;
                transform: translate(10%, -30%) !important;
            }

            span {
                cursor: default;
                
            }
    
            .Contact-span {
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                transition: 0.4s all;
                margin-right: 10px;
                word-spacing: 0px;
                background: -webkit-linear-gradient(#fff 0%, #fff 100%);
                background-clip: text;
                -webkit-text-fill-color: #fff;
            
                &::after{
                    content: ".";
                }
            }

            .Github:hover {
                background: -webkit-linear-gradient(#6cc644 0%, #6cc644 100%);
                @include footer-link-background;

                &::after {
                    @include footer-link-background-after ;
                }
            }

            .Linkedin:hover {
                background: -webkit-linear-gradient(#0e76a8 0%, #0e76a8 100%);
                @include footer-link-background;
                
                &::after {
                    @include footer-link-background-after ;
                }
            }

            .Angel-list:hover {
                background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
                @include footer-link-background;
                
                &::after {
                    @include footer-link-background-after ;
                }
            }

            .Instagram:hover {
                background: -webkit-linear-gradient(45deg, #ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%);
                @include footer-link-background;
                transition: 0.4s all;
                
                &::after {
                    @include footer-link-background-after ;
                }
            }

            @include mobile {
                font-size: .9rem;
                transform: translate(10%, -150%);
                width: 90%;
            }
        }

        .Footer-container-bottom-text {
            font-size: .8em;
            letter-spacing: 0em;
            opacity: .5;
            transform: translate(-10%, -50%);


            @include mobile {
                width: 50%;
                font-size: .7em;
            }
        }
    }

}