* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  &:link,
  &:hover,
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}
ul {
  li {
    list-style: none;
  }
}

html,
#root {
  height: 100%;
  background-color: $darkBlack;
}
body {
  height: 100%;
  display: flex;
  width: 100vw;
  background: $regularWhite;
}

h1,
h2,
h3,
h4{
  cursor: default;
  font-weight: bold !important;
}

.Button {
  border: solid $darkBlack;
  border-width: 3px;
  color: $nearlyBlack;
  padding: 7px 14px;
  width: max-content;
  height: max-content;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

  &:hover{
    transition: 0.4s;
    background: $darkBlack;
    color: $regularWhite;
        }
}


.collapse-row-column {
  display: flex;
  flex-direction: column;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

  @include tabtop {
    flex-direction: column;
  }
  
  @include desktop {
    flex-direction: row;
  }
  
}

.tech-stack-logo-label {
  transform: translate(-37%,-139%);
  position: fixed;
  background: $regularWhite;
  color: $nearlyBlack;
  padding: 4px 7px;
  font-size: .8rem;
  font-weight: bold;
  width: max-content;
}

.tech-stack-logo-arrow {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $regularWhite;
  content: "";
  transform: translate(0%,-130%);
}

.Back-to-top {
  width: 50px;
  height: 115px;
  position: fixed;
  bottom: 5%;
  right: -10px;
  z-index: -1000;
  font-weight: bold;
  border: solid #fff;
  border-width: 3px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
  background-color: #000;
  opacity: 0;
  transform: translateX(30px);

  h5 {
    transform: rotate(-90deg);
    left: -19px;
    position: relative;
    top: 48px;
    text-align: center;
    font-size: .85rem;
    width: max-content;
  }

  &.scrolled {
    opacity: 1;
    z-index: 100000;
    transition: 1.1s all;
    transform: translateX(0);

    &:hover {
      opacity: 1;
      filter: invert(100);
      transition: 0.4s all;
    }

    @include mobile {
      opacity: .9;
      right: -15px;
      transform: translateX(0px) scale(0.7);
    }
  }
}

%footer-link-background {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
