.Navbar-container-parent {
    opacity: 0;
    z-index: -1000;
    top: 0;
    height: 0;
    width: 100vw;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    background-color: #fff;
    transition: 0s; 

    // &.not-scrolled {
        
    //     height: 0; 
    //     position: fixed; 
    //     top: 0; 
    //     z-index: 400; 
    // }

    &.scrolled {
        transition: 0.3s; 
        height: 4rem; 
        position: fixed; 
        z-index: 400 !important; 
        opacity: 1 !important;
    }
    

    .Navbar-container {
        width: 100%;
        display: flex;
        align-items: center;
        opacity: 0; 
        justify-content: space-between;
        
        &.scrolled {
            z-index: 1000;
            transition: 2.5s;
            opacity: 1;
        }

        #rashad-rose{
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            color: $nearlyBlack;
        }
    }
}