.Navbar-container-parent {
    opacity: 0;
    z-index: -1000;
    top: 0;
    height: 0;
    width: 100vw;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    background-color: #fff;
    transition: 0s; 

    &.scrolled {
        animation: navbar-fade-in 0.5s ease-out 0s 1 forwards;    
        position: fixed; 
        z-index: 400 !important; 
    }

    @include mobile {
        padding: 0 1rem;
    }
    

    .Navbar-container {
        width: 100%;
        display: flex;
        align-items: center;
        opacity: 0; 
        justify-content: space-between;
        
        &.scrolled {
            z-index: 1000;
            animation: fade-in 0.7s ease-in-out 0.4s 1 forwards;
        }

        #rashad-rose{
            font-size: 1.3rem;
            font-weight: bold;
            cursor: pointer;
            color: $nearlyBlack;
        }
    }
}