.Projects-container {
   

    .Project-section-parent {
        z-index: 10;
        
        .Typed-projects-header {
            text-align: center;
            font-size: 3.2em;
            @extend .alike;
            font-weight: normal;
            scroll-snap-align: start;

            @include mobile {
                font-size: 2.9rem;
                transform: translateY(-50%);
            }
        }

        .Parallax-parent-header-lower{
            position: relative;
            z-index: 10;
        }

        .Lower {
            color: $regularWhite;
        }

        .Project-section-container { 
            background-color: $darkBlack;
            position: relative;
            z-index: 0;

            .Project-cards-parent {
                padding: 25vh 0 5vh 0;
                margin: 0 auto;
                width: 100vw;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                position: relative;
                background-color: $darkBlack;
                z-index: 20;

                @include tabtop {
                    flex-direction: column;
                }
                
                @include desktop {
                    flex-direction: row;
                    max-width: 1048px;
                }

                .Animation-container {
                    opacity: 0;

                    &.Left-animation {
                        animation: slide-up-and-left 0.9s ease-in-out 0s 1 forwards;
                        opacity: 1;
                        transition: 0.9s all;

                        @include mobile {
                            animation: slide-up 1.1s ease-in-out 0s 1 forwards;
                        }
                    }
                    &.Right-animation {
                        animation: slide-up-and-right 0.9s ease-in-out 0s 1 forwards;
                        opacity: 1;
                        transition: 0.9s all;

                        @include mobile {
                            animation: slide-up 1.1s ease-in-out 0s 1 forwards;
                        }
                    }
                
                }

                .Card {
                    width: 410px;
                    position: relative;
                    height: 650px;
                    border: solid 4px #000;
                    transition: 0.5s;
                    color: $regularWhite;
                    padding: 25px;
                    margin: 0 auto 50px auto;
                    
                    &:hover {
                        border-color: $regularWhite;
                        transition: 0.4s;
                        background-color: #161616;
                    }

                    .Project-logo {
                        height: 37%;
                        background-color: $darkBlack;
                    }

                    .Project-title {
                        margin: 30px 0 0 15px;
                        font-size: 1.3em;
                    }

                    .Tech-stack-parent {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }

                    h4 {
                        position: absolute;
                        width: 100%;
                        left: 10%;

                        @include mobile {
                            left: 4%;
                        }

                    }

                    p {
                        min-height: 210px;
                        margin: 20px 5px 0 5px;
                        line-height: 1.3em;
                        padding: 0 9px;

                        @include mobile {
                            padding: 10px;
                        }
                    }

                    .Buttons-parent {
                        display: flex;
                        justify-content: space-evenly;
                        margin: 15px 0;

                        @include mobile {
                            margin: 35px 0 20px 0;
                        }
                        

                        .Button {
                            text-decoration: initial;
                            transition: 0.4s;
                            font-size: .9em;
                            border-color: $regularWhite;
                            width: 90px;
                            

                        &:hover{
                            transition: 0.5s;
                            background: $regularWhite;
                            color: $nearlyBlack !important;
                                }
                            }
                        }

                    @include mobile {
                        margin: 0 auto;
                        width: 90%;
                        max-width: 410px;
                        margin-bottom: 50px;
                        padding: 0;
                        border: none !important;

                        &:hover{
                            background-color: #000;
                        }
                    }

                }

                #null {
                    z-index: -1000000 !important;
                    opacity: 0 !important;
                    height: 0 !important;
                }
            }


            .Tech-stack-logo {
                background-size: cover;
                background-position: center;
                height: 18px;
                width: 18px;
                display: inline-block;
                margin: 5px 4px;
                transition: 0.4s;
                z-index: 100;

                &:not(:hover) {
                    opacity: 0.7;   
                }

                &:last-child {
                    margin-right: 5%;
                }

            }

            .html5-logo {
                background-image: url('../assets/images/icons/html5-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "HTML 5";
                    }
            }

            }

            .css-logo {
                background-image: url('../assets/images/icons/css-logo.png');
                
                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "CSS3";
                    }
                }
            }

            .javascript-logo {
                background-image: url('../assets/images/icons/javascript-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "JavaScript";
                    }
                }
            }

            .react-logo {
                background-image: url('../assets/images/icons/react-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "React.js";
                    }
                }
            }

            .postgresql-logo {
                background-image: url('../assets/images/icons/postgresql-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "PostgreSQL";
                    }
                }
            }

            .express-js-logo {
                background-image: url('../assets/images/icons/express-js-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "Express.js";
                    }
                }
            }

            .sass-logo {
                background-image: url('../assets/images/icons/sass-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "SASS";
                    }
                }
            }

            .ruby-on-rails-logo {
                background-image: url('../assets/images/icons/ruby-on-rails-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "Ruby on Rails";
                    }
                }
            }

            .aws-logo {
                background-image: url('../assets/images/icons/aws-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "Amazon Web Services (AWS)";
                    }
                }
            }

            .jquery-logo {
                background-image: url('../assets/images/icons/jquery-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "jQuery";
                    }
                }
            }

            .auth-logo {
                background-image: url('../assets/images/icons/oauth-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "Auth";
                    }
                }
            }

            .firebase-logo {
                background-image: url('../assets/images/icons/firebase-logo.png');

                &:hover {
                    &::before {
                        @extend .tech-stack-logo-arrow;
                    }
                    &::after {
                        @extend .tech-stack-logo-label;
                        content: "Firebase";
                    }
                }
            }
        }

        #reactagram {
            .Project-title {
                span:nth-of-type(2) {
                    font-style: italic;
                    font-weight: lighter;
                    font-size: .8em;
                    float: right;
                }
            }

            .Buttons-parent {
                a:nth-of-type(2) {
                    cursor: default !important;

                    &:hover {
                        cursor: default !important;
                        pointer-events: none;
                        color: $regularWhite !important;
                        background-color: $darkBlack;
                    }
                }
                @include mobile {
                    margin: 32px 0px;
                }
            }

            &:hover {
                a:nth-of-type(2) {
                    opacity: .2;
                }
            }
            
        }

        #aqquua {
            .Buttons-parent {
                a:first-of-type {
                    cursor: default !important;

                    &:hover {
                        cursor: default !important;
                        pointer-events: none;
                        color: $regularWhite !important;
                        background-color: $darkBlack;
                    }
                }
        }

            &:hover {
                a:first-of-type {
                    opacity: .2;
                }
            }
        }

    }
}