.Project-section-parent {
    position: relative;
    z-index: 2;
    
    .Typed-projects-header {
        text-align: center;
        font-size: 3.2em;
        font-family: 'Alike', serif;
        font-weight: normal;

        @include mobile {
            transform: translateY(-50%);
        }
    }

    .Parallax-parent-header-lower{
        position: relative;
        z-index: 10;
    }

    .Lower {
        color: #ffffff;
    }

    .Project-section-container { 
        background-color: #000;
        position: relative;
        z-index: 0;

        .Project-cards-parent {
            padding: 25vh 0 5vh 0;
            margin: 0 auto;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            position: relative;
            background-color: #000;
            z-index: 20;

            @include desktop {
                max-width: 1048px;
            }

            .Left-animation,
            .Right-animation {
                opacity: 0;
                
            }

            .Card {
                width: 430px;
                position: relative;
                height: 650px;
                border: solid 4px black;
                transition: 0.5s;
                margin-bottom: 50px;    
                color: #fff;
                
                &:hover {
                    border-color: #fff;
                    transition: 0.4s;
                }

                .Project-logo {
                    height: 41%;
                    background-color: #000;

                    @include mobile {
                        height: 35%;
                    }

                }

                .Project-title {
                    margin: 30px 0 0 15px;
                    font-size: 1.3em;
                    }

                .Tech-stack-parent {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                h4 {
                    position: absolute;
                    width: 100%;
                    left: 5%;
                }

                p {
                    min-height: 180px;
                    margin: 20px 5px 0 5px;
                    line-height: 1.3em;
                    padding: 0 20px;
                }

                .Buttons-parent {
                    display: flex;
                    justify-content: space-evenly;

                    @include mobile {
                        margin: 35px 0 20px 0;
                    }
                    

                    .Button {
                        text-decoration: initial;
                        transition: 0.4s;
                        font-size: .9em;
                        border-color: #fff;
                        width: 90px;
                        

                    &:hover{
                        transition: 0.5s;
                        background: #fff;
                        color: $nearlyBlack !important;
                            }
                        }
                    }

                @include mobile {
                    width: 340px;
                    margin-bottom: 50px;
                }
            }

            #aqquua2 {
                z-index: -1000000 !important;
                opacity: 0 !important;
                height: 0 !important;
            }
        }


        .Tech-stack-logo {
            background-size: cover;
            background-position: center;
            height: 20px;
            width: 20px;
            display: inline-block;
            margin: 5px 4px;
            transition: 0.4s;
            filter: invert(100%) !important;

            &:hover {
                filter: invert(25%) !important;
                cursor: pointer;
                transition: 0.4s;
            }

        &:last-child {
            margin-right: 5%;
        }
        }

        .html5-logo {
            background-image: url('../assets/images/icons/html5-logo.png');
        }

        .css-logo {
            background-image: url('../assets/images/icons/css-logo.png');
        }

        .javascript-logo {
            background-image: url('../assets/images/icons/javascript-logo.png');
        }

        .react-logo {
            background-image: url('../assets/images/icons/react-logo.png');
        }

        .postgresql-logo {
            background-image: url('../assets/images/icons/postgresql-logo.png');
        }

        .express-js-logo {
            background-image: url('../assets/images/icons/express-js-logo.png');
        }

        .sass-logo {
            background-image: url('../assets/images/icons/sass-logo.png');
        }

        .ruby-on-rails-logo {
            background-image: url('../assets/images/icons/ruby-on-rails-logo.png');
        }
    }

    .Slide-and-fade-in {
        transform: translateX(0%) !important;
        opacity: 1 !important;
        transition: 1.3s !important;
        filter: saturate(0%) !important;
        animation: unsaturate 3.5s ease-in-out 0s 1 none;
        
        &:hover {
            transition: 0.4s !important;
            filter: saturate(100%) !important;
            }
    }

    #reactagram {

        .Buttons-parent {

            @include mobile {
                margin: 32px 0px;
            }
        }
        
    }

}