.Project-section-parent {
    position: relative;
    z-index: 10;
    
    .Typed-projects-header {
        text-align: center;
        font-size: 3.2em;
        @extend .alike;
        font-weight: normal;

        @include mobile {
            transform: translateY(-50%);
        }
    }

    .Parallax-parent-header-lower{
        position: relative;
        z-index: 10;
    }

    .Lower {
        color: $regularWhite;
    }

    .Project-section-container { 
        background-color: $darkBlack;
        position: relative;
        z-index: 0;

        .Project-cards-parent {
            padding: 25vh 0 5vh 0;
            margin: 0 auto;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            position: relative;
            background-color: $darkBlack;
            z-index: 20;

            @include desktop {
                max-width: 1048px;
            }

            .Left-animation,
            .Right-animation {
                opacity: 0;
            }

            .Card {
                width: 430px;
                position: relative;
                height: 650px;
                border: solid 4px black;
                transition: 0.5s;
                margin-bottom: 50px;    
                color: $regularWhite;
                padding: 25px;
                
                &:hover {
                    border-color: $regularWhite;
                    transition: 0.4s;
                    background-color: #111111;

                    @include mobile {
                        background-color: inherit;
                    }
                }

                .Project-logo {
                    height: 41%;
                    background-color: $darkBlack;

                    @include mobile {
                        height: 35%;
                    }

                }

                .Project-title {
                    margin: 30px 0 0 15px;
                    font-size: 1.3em;
                }

                .Tech-stack-parent {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                h4 {
                    position: absolute;
                    width: 100%;
                    left: 10%;

                    @include mobile {
                        left: 4%;
                    }

                }

                p {
                    min-height: 180px;
                    margin: 20px 5px 0 5px;
                    line-height: 1.3em;
                    padding: 0 9px;

                    @include mobile {
                        padding: 10px;
                    }
                }

                .Buttons-parent {
                    display: flex;
                    justify-content: space-evenly;

                    @include mobile {
                        margin: 35px 0 20px 0;
                    }
                    

                    .Button {
                        text-decoration: initial;
                        transition: 0.4s;
                        font-size: .9em;
                        border-color: $regularWhite;
                        width: 90px;
                        

                    &:hover{
                        transition: 0.5s;
                        background: $regularWhite;
                        color: $nearlyBlack !important;
                            }
                        }
                    }

                @include mobile {
                    width: 340px;
                    margin-bottom: 50px;
                    padding: 0;
                    border: none !important;
                }
            }

            #null {
                z-index: -1000000 !important;
                opacity: 0 !important;
                height: 0 !important;
            }
        }


        .Tech-stack-logo {
            background-size: cover;
            background-position: center;
            height: 20px;
            width: 20px;
            display: inline-block;
            margin: 5px 4px;
            transition: 0.4s;
            z-index: 100;

            &:not(:hover) {
                opacity: 0.7;   
            }

            &:last-child {
                margin-right: 5%;
            }

        }

        .html5-logo {
            background-image: url('../assets/images/icons/html5-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "HTML 5";
                }
        }

        }

        .css-logo {
            background-image: url('../assets/images/icons/css-logo.png');
            
            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "CSS3";
                }
            }
        }

        .javascript-logo {
            background-image: url('../assets/images/icons/javascript-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "JavaScript";
                }
            }
        }

        .react-logo {
            background-image: url('../assets/images/icons/react-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "React.js";
                }
            }
        }

        .postgresql-logo {
            background-image: url('../assets/images/icons/postgresql-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "PostgreSQL";
                }
            }
        }

        .express-js-logo {
            background-image: url('../assets/images/icons/express-js-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "Express.js";
                }
            }
        }

        .sass-logo {
            background-image: url('../assets/images/icons/sass-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "SASS";
                }
            }
        }

        .ruby-on-rails-logo {
            background-image: url('../assets/images/icons/ruby-on-rails-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "Ruby on Rails";
                }
            }
        }

        .aws-logo {
            background-image: url('../assets/images/icons/aws-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "Amazon Web Services (AWS)";
                }
            }
        }

        .jquery-logo {
            background-image: url('../assets/images/icons/jquery-logo.png');

            &:hover {
                &::before {
                    @extend .tech-stack-logo-arrow;
                }
                &::after {
                    @extend .tech-stack-logo-label;
                    content: "jQuery";
                }
            }
        }
    }

    .Slide-and-fade-in {
        opacity: 1 !important;
        transition: .7s !important;
        filter: saturate(0%);
        animation: unsaturate 3.5s ease-in-out 0s 1 none;
        
        &:hover {
            transition: 0.4s !important;
            filter: saturate(100%) !important;
            }
    }

    #reactagram {
        .Buttons-parent {
            @include mobile {
                margin: 32px 0px;
            }
        }
        
    }

    #aqquua {
        .Buttons-parent {

            a:first-of-type {
                cursor: default !important;

                &:hover {
                    cursor: default !important;
                    pointer-events: none;
                    color: $regularWhite !important;
                    background-color: $darkBlack;
                }
            }

        
    }

        &:hover {
            a:first-of-type {
                opacity: .2;

            }
        }
    }

}